extends ../layout

block content
  .container
    h1.summary Login
    .row
      .four.columns
        if config.GOOGLE_CLIENT_ID && config.GOOGLE_CLIENT_SECRET
          a(href='/auth/google' class='social-button' id='google-connect')
            span Connect with Google
        if config.TELEGRAM_BOT_TOKEN
          a(href='/auth/telegram' class='social-button' id='telegram-connect')
            span Connect with Telegram
